<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css"/>
    <title>Layout3</title>
</head>
<body>
<div class="container">
    <header>
            <div class="mainhead">
                <div class="header1">HEADER</div>
                <nav class="menu">MENU</nav>
            </div>
    </header>
    
    <main>


            <div class="main">
                 <div class="hero"> HERO </div>
                 

                      <div class="space">
                           <div class="maincontent">MAIN</div>
                           <span class="none">NONE</span>
                           <div class="img_extra">
                               <span class="image">IMAGE</span>
                               <span class="extra">EXTRA</span>
                           </div>
                      </div>


            </div>

    </main>
    
    <footer>
        <div>BANNER</div>
    </footer>
</div>
</body>
</html>